*{
    margin: 0;
    padding: 0;
    font-family: 'poppin', sans-serif;
    box-sizing: border-box;
}

h1{
    font-style: italic;
}

body{
    background: black;
    color: white;
}

#header{
    width: 100%;
    height:100vh;
    background-image: url(images/RockLee.jpg);
    background-size: cover;
    background-position: center;
}
.contact{
    position: absolute;
    top: 80%;
    left: 8%;
    transform: translateY(-50%);
}

.contact form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.contact form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 5px solid green;
    outline: none;
    border-radius: 50%;
    font-size: 30%;
}

.contact form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: green;
    color: white;
    box-shadow: 0px 0px 5px rgb(238, 233, 233), 0px 0px 15px #858585;
    font-size: 30%;
}

.container{
    padding: 10px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap ;
}

.logo{
    width: 190px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
/* ----Home---abount---services---portfolio---contact------ */
nav ul li a{
    color:green;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0%;
    height: 13%;
    background-color: rgb(241, 247, 247);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 50px;
    
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px ;
}

.header-text h1 span{
    color: green;
}

/*-----------About Me-------------*/
#about{
    padding: 80px 0;
    color: green;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

   .about-col-1{
        flex-basis: 30%;
   }

   .about-col-1 img{
        width: 100%;
        border-radius: 15px;
   }

   .about-col-2{
        flex-basis: 65%;
   }

   .sub-title{
        font-size: 60px;
        font-weight: 600;
        color: green;
        

   }
/*---------skills---------exp-------------edu */

.tab{
    position: relative;
    width: 65%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 1px white;
    display: flex;
    margin: 30px 0 40px;
}

.tab .tabBtns{
    flex-basis: 25%;
    padding: 10px;
    background-color: rgb(8, 99, 28) ;
    border-right: 1px solid rgb(22, 247, 71);
    color: black;

}

.tab .tabContents{
    flex-basis: 75%;
    background-image: linear-gradient(to right, rgb(220, 220, 235), rgb(54, 104, 39));
    padding: 20px 30px 20px 40px;
    font-size: 20px;
    color:black
}

.tabContents h2{
    padding-bottom: 10px;
}

.tabContents h3{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.tabContents .contents{
    display: none;
}

.tabContents .show{
    display: block;
    
}

.tab .tabBtns .btn{
    position: relative;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px 30px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

.tab .tabBtns .btn:hover{
    background-color: rgb(145, 197, 145);
}

.tabBtns .show{
    background: rgb(151, 231, 162);
}

 

   /* .tab-titles{
    display: flex;
    margin: 20px 0 40px;
   }

   .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
   }

   .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
   }

   .tab-links.active-link::after{
    width: 50%;
   }

   .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
   }

   .tab-contents ul li span{
    color: white;
    font-size: 14px;
   }

  .tab-contents{
    display: none;
  }

  .tab-contents.active-tab{
    display: block;
  } */